@page "/"
@using Volo.Abp.MultiTenancy
@inherits RolesDemoComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <div class="mb-5 text-center">
        <p class="align-middle">
            uploding a file, throws  "Unexpected end of Stream, the content may have already been read by another component."
            <FileEdit Filter="image/*" Changed="@OnFileUploadChanged" />
        </p>
    </div>
</div>

<div class="container">
    <div class="mb-5 text-center">
        <p class="align-middle">
            Syncfusion upload 0
            <SfUploader ID="UploadRecording" AllowedExtensions=".mp4">
                <UploaderAsyncSettings SaveUrl="@saveUrl" RemoveUrl=@removeUrl></UploaderAsyncSettings>
            </SfUploader>
        </p>
    </div>
</div>
